body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#root {
  margin: 0;
  padding: 0;
  width: 100%;
}

.app-wrapper {
    background-color: #fffffff8;
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
}