
.vehicle-card {
  width: 100%;
  height: 450px;
  margin: 10px;
  position: relative;
  overflow: hidden;
}

.vehicle-card-img-wrapper {
  position: relative;
  height: 200px;
}

.vehicle-card-img {
  height: 200px;
  object-fit: cover;
  width: 100%;
}

.vehicle-badge {
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 8px 15px;
  font-size: 0.85rem;
  font-weight: bold;
  border-radius: 20px;
  z-index: 10;
}

.vehicle-card-body {
  display: flex;
  flex-direction: column;
}

.vehicle-card-title {
  height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.vehicle-card-text {
  flex: 1;
  overflow: hidden;
}