.vehicle-card {
  width: 100%;
  height: 400px;
  margin: 10px;
}

.vehicle-card-img {
  height: 200px;
  object-fit: cover;
}

.vehicle-card-body {
  display: flex;
  flex-direction: column;
}

.vehicle-card-title {
  height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box; 
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.vehicle-card-text {
  flex: 1;
  overflow: hidden;
}